<div class="banner">
  <%= cl_image_tag current_user.photo, alt: current_user.name %>
  <div class="banner-title">
    <h1>Rental dashboard</h1>
    <ul>
      <li><a style="text-decoration: none; color: black" href="#devices">My devices</a></li>
      <li><a style="text-decoration: none; color: black" href="#rentals">My rentals</a></li>
      <li><a style="text-decoration: none; color: black" href="#rented">Device I'm lending</a></li>
    </ul>
  </div>
</div>
<div class="app-container">

  <h2 id="devices">My devices</h2>

  <div class="cards-techget">
    <% current_user.techgets.each do |techget| %>
    <a href="#<%= techget.name %>">
      <div class="marker-gadget-info" style="background-image: url('<%= techget.photo %>')">
        <p><%= techget.name %></p>
      </div>
    </a>
    <% end %>
    <%= link_to new_techget_path do %>
      <div class="marker-gadget-info card-techget-empty">
        <p>Add a device</p>
      </div>
    <% end %>
  </div>

  <h2 id="rentals">My rentals</h2>
  <div class="cards-rental">
    <% current_user.techgets.each do |techget| %>
      <div class="card-rental" id="<%= techget.name %>">
        <div class="card-rental-header">
          <%= cl_image_tag techget.photo, alt: techget.name %>
          <p><%= techget.name %></p>
        </div>
        <div class="card-rental-body">
          <% if techget.rentals.empty? %>
            <div class="card-rental-item">
              No rental yet for your <%= techget.name %>
            </div>
          <% else %>
            <% techget.rentals.each do |rental| %>
              <div class="card-rental-item">
                <div class="card-rental-item-date">
                  <div>
                    <p>From</p>
                    <p>To</p>
                  </div>
                  <div>
                    <p>
                      <strong><%= rental.start.strftime('%b %d %Y').capitalize %></strong>
                    </p>
                    <p>
                      <strong><%= rental.end.strftime('%b %d %Y').capitalize %></strong>
                    </p>
                  </div>
                  <div>
                    (<%= (rental.end - rental.start).to_i + 1 %> days)
                  </div>
                </div>
                <%= cl_image_tag rental.rentee.photo, alt: rental.rentee.name, class: "avatar"%>
                <p><%= rental.comment %></p>
                <%= link_to "Confirm", "#", class: "btn button-orange" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <h2 id="rented">Device I'm lending</h2>
  <div class="cards-rental">
    <% @rentals
        .select { |rental| rental.rentee == current_user }
        .each do |my_rental| %>
      <div class="card-rental" id="<%= my_rental.techget.name %>">
        <div class="card-rental-body">
            <div class="card-rental-item">
              <div class="card-rental-item-date">
                <div>
                  <p>From</p>
                  <p>To</p>
                </div>
                <div>
                  <p>
                    <strong><%= my_rental.start.strftime('%b %d %Y').capitalize %></strong>
                  </p>
                  <p>
                    <strong><%= my_rental.end.strftime('%b %d %Y').capitalize %></strong>
                  </p>
                </div>
                <div>
                  (<%= (my_rental.end - my_rental.start).to_i + 1 %> days)
                </div>
              </div>
              <%= cl_image_tag my_rental.techget.photo, alt: my_rental.techget.name, class: "avatar" %>
              <p><%= my_rental.techget.name %></p>
              <h3 class="badge badge-info">
                  Not confirmed yet
              </h3>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
