  <h2 id="rentals">My rentals</h2>
  <% if current_user.techgets.empty? %>
    <div class="card-rental">
      <div class="card-rental-body">
          You didn't share any device yet. <%= link_to "Share your first device", new_techget_path %>!
      </div>
    </div>
  <% end %>
  <div class="cards-rental">
    <% current_user.techgets.each do |techget| %>
      <div class="card-rental" id="<%= techget.name %>">
        <div class="card-rental-header">
          <%= cl_image_tag techget.photo, alt: techget.name %>
          <p><%= techget.name %></p>
        </div>
        <div class="card-rental-body">
          <% if techget.rentals.empty? %>
            <div class="card-rental-item">
              No rental yet for your <%= techget.name %>
            </div>
          <% else %>
            <% techget.rentals.each do |rental| %>
              <div class="card-rental-item">
                <div class="card-rental-item-date">
                  <div>
                    <p>From</p>
                    <p>To</p>
                  </div>
                  <div>
                    <p>
                      <strong><%= rental.start.strftime('%b %d %Y').capitalize %></strong>
                    </p>
                    <p>
                      <strong><%= rental.end.strftime('%b %d %Y').capitalize %></strong>
                    </p>
                  </div>
                  <div>
                    (<%= (rental.end - rental.start).to_i + 1 %> days)
                  </div>
                </div>
                <%= cl_image_tag rental.rentee.photo, alt: rental.rentee.name, class: "avatar"%>
                <p><%= rental.comment %></p>
                  <div  class="text-center">
                <% if rental.confirmed %>
                    <%= link_to "Talk about it", update_chatbox_path(rental), class: "button-orange" %>
                    <h3 class="badge badge-success m-0">
                        Confirmed
                    </h3>
                <% else %>
                  <%= link_to "Talk about it", update_chatbox_path(rental), class: "button-orange" %>
                  <%= link_to "Confirm", confirm_path(rental), class: "button-orange" %>
                <% end %>
                  </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
